.error{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.container{
    text-align: center;
    color: var(--Blanco);
}

.container img{
    width: 600px;
    /* font-size: 200px; */
    margin: 0 0 30px 0;
}


.r1{
    width: 600px;
}

	#mario{
		animation: gamover 3s both;
		transform-origin: center;
	}
	@keyframes gamover {
		0%{
			transform: translateY(0px);
		}
		10%{
			transform: translateY(0px);
		}
		25%{
			transform: translateY(-200px)
		}
		30%{
			transform: translateY(-200px)
		}
		100%{
			transform: translateY(200px)
		}

	}

		.st0{fill:#FFFFFF;}
	.st1{clip-path:url(#SVGID_2_);}
	.st2{fill:#02448E;}
	.st3{fill:#02448D;}
	.st4{fill:#03448D;}
	.st5{fill:#00428D;}
	.st6{fill:#01438D;}
	.st7{fill:#576B9D;}
	.st8{fill:#566B9D;}
	.st9{fill:#556A9D;}
	.st10{fill:#00438D;}
	.st11{fill:#596D9E;}
	.st12{fill:#586B9E;}
	.st13{fill:#04458E;}
	.st14{fill:#DFE2E8;}
	.st15{fill:#CDD1DC;}
	.st16{fill:#0E478F;}
	.st17{fill:#D3D6E0;}
	.st18{fill:#CFD2DD;}
	.st19{fill:#CED1DC;}
	.st20{fill:#7686AF;}
	.st21{fill:#486198;}
	.st22{fill:#03458E;}
	.st23{fill:#D1D4DF;}
	.st24{fill:#6E80AC;}
	.st25{fill:#121832;}
	.st26{clip-path:url(#SVGID_4_);}
	.st27{fill:#315495;}
	.st28{fill:#ACB2C7;}
	.st29{fill:#8B96B6;}
	.st30{fill:#A6ADC4;}
	.st31{fill:#E2E5EB;}
	.st32{fill:#B9BED1;}
	.st33{fill:#ECEDF1;}
	.st34{fill:#CCCFDB;}
	.st35{fill:#A3ABC2;}
	.st36{fill:#164C8F;}
	.st37{fill:#5E71A0;}
	.st38{fill:#8994B4;}
	.st39{fill:#3C5996;}
	.st40{fill:#305495;}
	.st41{fill:#949EBA;}
	.st42{fill:#315595;}
	.st43{fill:#8F99B8;}
	.st44{fill:#A7AFC5;}
	.st45{fill:#335695;}
	.st46{fill:#5D71A0;}
	.st47{fill:#A1A9C1;}
	.st48{fill:#606980;}
	.st49{fill:#385896;}
	.st50{fill:#4867A0;}
	.st51{fill:#5673A8;}
	.st52{fill:#5370A6;}
	.st53{fill:#6A7CA8;}
	.st54{fill:#7486B0;}
	
    /* .st0{clip-path:url(#SVGID_2_);}
	.st1{fill:#02448E;}
	.st2{fill:#02448D;}
	.st3{fill:#03448D;}
	.st4{fill:#00428D;}
	.st5{fill:#01438D;}
	.st6{fill:#576B9D;}
	.st7{fill:#566B9D;}
	.st8{fill:#556A9D;}
	.st9{fill:#00438D;}
	.st10{fill:#596D9E;}
	.st11{fill:#586B9E;}
	.st12{fill:#04458E;}
	.st13{fill:#DFE2E8;}
	.st14{fill:#CDD1DC;}
	.st15{fill:#0E478F;}
	.st16{fill:#D3D6E0;}
	.st17{fill:#CFD2DD;}
	.st18{fill:#CED1DC;}
	.st19{fill:#7686AF;}
	.st20{fill:#486198;}
	.st21{fill:#03458E;}
	.st22{fill:#D1D4DF;}
	.st23{fill:#6E80AC;}
	.st24{fill:#FFFFFF;}
	.st25{clip-path:url(#SVGID_4_); z-index: 5;}
	.st26{fill:#315495;}
	.st27{fill:#ACB2C7;}
	.st28{fill:#8B96B6;}
	.st29{fill:#A6ADC4;}
	.st30{fill:#E2E5EB;}
	.st31{fill:#B9BED1;}
	.st32{fill:#ECEDF1;}
	.st33{fill:#CCCFDB;}
	.st34{fill:#A3ABC2;}
	.st35{fill:#164C8F;}
	.st36{fill:#5E71A0;}
	.st37{fill:#8994B4;}
	.st38{fill:#3C5996;}
	.st39{fill:#305495;}
	.st40{fill:#949EBA;}
	.st41{fill:#315595;}
	.st42{fill:#8F99B8;}
	.st43{fill:#A7AFC5;}
	.st44{fill:#335695;}
	.st45{fill:#5D71A0;}
	.st46{fill:#A1A9C1;}
	.st47{fill:#606980;}
	.st48{fill:#385896;}
	.st49{fill:#4867A0;}
	.st50{fill:#5673A8;}
	.st51{fill:#5370A6;}
	.st52{fill:#6A7CA8;}
	.st53{fill:#7486B0;}
	.st54{fill:#9e9ea0;} */
	/* .st54{fill:#121832;} */
